* {  
    margin: 0;
    padding: 0;  
    outline: 0;
  }

  .navbar{
    display: flex;
    flex-direction: row;    
    border: solid;
    justify-content: left;
    align-items: center;
    width: 1300px;
    height: 100px;
    margin: auto;
    /* color: white; */
    background-color: black;
    justify-content: left;
    font-family: Poppins;

  }

  /* .line{
    display: block;
    border: white solid;    
    height: 60px;
    width: 0px;
  } */

.list{
    display: flex;
    border-left: 0.5px solid;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding-left: 20px;
    column-gap: 40px;
    color: white;
    margin-left: 55px;
    height: 60px;
    align-items: center;
    font-weight: 600;
}

.button-small{
    width: 150px;
    height: 40px;
    border-radius: 8px;    
    font-weight: 600;
    font-size: 15px;    
    background-color: #BA0CC5;
    color: white;
    margin-left: 400px;
    border: none;
}

.logo{

    margin-left: 50px;
    width: 100px;
}

.hero{
    display: flex;
    flex-direction: column;
    width: 1300px;
    border: solid;
    margin: auto;
    height: 100vh;
    background-image: url("/assets/bg.png");
    align-items: center;
}

.button-large{
    width: auto;
    height: 70px;
    padding: 15px;
    border-radius: 8px;    
    font-weight: 600;
    font-size: 25px;    
    background-color: #BA0CC5;
    color: white;
    border: none;
    margin-top: 80px;
    text-align: center;    
}

.hero-heading{
    /* border: solid; */
    margin-top: 150px;
    color: white;
    font-family: poppins;
    font-size: 75px;
    width: 800px;    
    text-align: center;
    line-height: 100px;
}

.hero-description{
    /* border: solid; */
    margin-top: 20px;
    color: white;
    font-family: poppins;
    font-size: 30px;
    width: 800px;    
    font-weight: 500;
    text-align: center;
}